<p>
 {% if site.footer-links.github %}<a href="http://github.com/{{ site.footer-links.github }}" class="author-social"><i class="fa fa-fw fa-github-square"></i>Github</a><br />{% endif %}
 {% if site.footer-links.twitter %}<a href="http://twitter.com/{{ site.footer-links.twitter }}" class="author-social"><i class="fa fa-fw fa-twitter-square"></i>Twitter</a><br />{% endif %}
 {% if site.footer-links.stackoverflow %}<a href="http://stackoverflow.com/{{ site.footer-links.stackoverflow }}" class="author-social"><i class="fa fa-fw fa-stackoverflow-square"></i>StackOverflow</a><br />{% endif %}
 {% if site.footer-links.linkedin %}<a href="http://linkedin.com/in/{{ site.footer-links.linkedin }}" class="author-social"><i class="fa fa-fw fa-linkedin-square"></i>LinkedIn</a><br />{% endif %}
 {% if site.footer-links.gpluss %}<a href="http://pluss.google.com/{{ site.footer-links.gpluss }}" class="author-social"><i class="fa fa-fw fa-google-pluss-square"></i>Google+</a><br />{% endif %}
 {% if site.footer-links.facebook %}<a href="http://facebook.com/{{ site.footer-links.facebook }}" class="author-social"><i class="fa fa-fw fa-facebook-square"></i>Facebook</a><br />{% endif %}
 {% if site.footer-links.flickr %}<a href="http://flickr.com/{{ site.footer-links.flickr }}" class="author-social"><i class="fa fa-fw fa-flickr-square"></i>Flickr</a><br />{% endif %}
 {% if site.footer-links.instagram %}<a href="http://instagram.com/{{ site.footer-links.instagram }}" class="author-social"><i class="fa fa-fw fa-instagram-square"></i>Instagram</a><br />{% endif %}
 {% if site.footer-links.pinterest %}<a href="http://pinterest.com/{{ site.footer-links.pinterest }}" class="author-social"><i class="fa fa-fw fa-pinterest-square"></i>Pinterest</a><br />{% endif %}
 {% if site.footer-links.youtube %}<a href="http://youtube.com/{{ site.footer-links.youtube }}" class="author-social"><i class="fa fa-fw fa-youtube-square"></i>YouTube</a><br />{% endif %}
 {% if site.footer-links.rss %}<a href="{{ site.baseurl }}/feed.xml"><i class="fa fa-fw fa-rss-square"></i>RSS</a>{% endif %}
 {% if site.footer-links.email %}<a href="mailto:{{ site.footer-links.email }}" class="author-social"><i class="fa fa-fw fa-envelope-square"></i>Email</a><br />{% endif %}
 <p>
